header
	p Website coming soon
	ul
		li: a(href="https://www.facebook.com/juscuizon" target="_blank"): i.fa.fa-facebook-official.fa-2x
		li: a(href="https://www.instagram.com/juscuizon" target="_blank"): i.fa.fa-instagram.fa-2x
		li: a(href="https://www.twitter.com/juscuizon" target="_blank"): i.fa.fa-twitter-square.fa-2x
		li: a(href="https://www.linkedin.com/in/juscuizon" target="_blank"): i.fa.fa-linkedin-square.fa-2x
		li: a(href="https://plus.google.com/u/1/100820209364514477269" target="_blank"): i.fa.fa-google-plus-square.fa-2x
	a.bgsrc(href="http://nicow92.deviantart.com/art/The-lonely-bench-251562028" target="_blank") Background image source